/* основной цвет текста  серый #757575 */
/* вторичный цвет черный(оттенок) #212121 ; */
/* акцент+дополнительный цвет для части лого и  #2196F3  */
/* дополнительный цвет черный #000000(лого шапка), белый #FFFFFF (лого футер, текст хэдер, адрес футер*/
/* цвет для футера auth-nav белый полупрозрачный rgba(255, 255, 255, 0.6) */
/* фон темно-серый  #2F303A(герой, футер)  и бело-серый #F5F4FA ("наша команда")*/


:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--primary-white-color: #FFFFFF;
--secondary-black-color: #000000;
--bg-color-grey: #2F303A;
--bg-color-white-grey:#F5F4FA;
--footer-auth-nav-color: rgba(255, 255, 255, 0.6);

}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

/* header */
.nav .logo {
    color: var(--secondary-black-color);
}

.nav .logo-web {
    color: var(--accent-color);
}
/* шаблон для УДАЛЕНИЯ ТОЧЕК в списках */
.list {
    list-style: none;
}

/* site-nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
 .site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* auth-nav */
.auth-nav-header {
    color: var(--primary-text-color);
}
.auth-nav-header:hover,
.auth-nav-header:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--bg-color-grey)
}
.hero-title {
    color: var(--primary-white-color);
}
.hero .button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


/* main */
/* 1st section */
.section-title {
    color: var(--title-text-color);
}
.feature-list .title {
    color: var(--title-text-color);
}


.team-list h3 {
color: var(--title-text-color);
}

/* buttons */

.button {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

/* footer */

.footer {
    color: var(--primary-white-color);
    background-color: var(--bg-color-grey);
}

.footer .logo {
    color: var(--primary-white-color);
}

.footer .logo-web {
color: var(--accent-color);
}

.auth-nav-footer {
    color: var(--footer-auth-nav-color);
}