/* основной цвет текста  серый #757575 */
/* вторичный цвет черный(оттенок) #212121 ; */
/* акцент+дополнительный цвет для части лого и  #2196F3  */
/* дополнительный цвет черный #000000(лого шапка), белый #FFFFFF (лого футер, текст хэдер, адрес футер*/
/* цвет для футера auth-nav белый полупрозрачный rgba(255, 255, 255, 0.6) */
/* фон темно-серый  #2F303A(герой, футер)  и бело-серый #F5F4FA ("наша команда")*/


:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--secondary-black-color: #000000;
--bg-color-grey: #2F303A;
--bg-color-white-grey:#F5F4FA;
--footer-auth-nav-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
h1,h2,h3 {
    color: var(--title-text-color);
}



/* header */

.nav .logo {
    color: var(--secondary-black-color);
}

.nav .logo-web {
    color: var(--accent-color);
}

/* site-nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
 .site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* auth-nav */
.auth-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--bg-color-grey)
}
.hero-title {
    color: var(--primary-white-color);
}
.hero .button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* main */
/* 1st section */
.feature-list .title {}

.feature-list p {}

/* footer */

.footer {
    color: var(--primary-white-color);
    background-color: var(--bg-color-grey);
}

.footer .logo {
    color: var(--primary-white-color);
}

.footer .logo-web {
color: var(--accent-color);
}

.auth-nav-footer .link {
    color: var(--footer-auth-nav-color);
}

.auth-nav-footer .link:hover,
.auth-nav-footer .link:focus {
    color: var(--accent-color);
}


/* шаблон для УДАЛЕНИЯ ТОЧЕК в списках */
.list {
    list-style: none;
}

/* шаблон для скрытия текста */
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

/* buttons */

/* .button {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
} */