body {
    background-color: #fff;
    color: #757575;
}

/* header */
.logo {
    color: #000000;
}

.logo-web {
    color: #2196F3;
}
/* шаблон для УДАЛЕНИЯ ТОЧЕК в списках */
.list {
    list-style: none;
}

/* site-nav */

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
 .site-nav .link:focus{
    color: #2196F3;
}


/* auth-nav */




/* main */
/* 1st section */


/* основной цвет текста  серый #757575*/
/* вторичный цвет черный(оттенок) #212121; */
/* дополнительный цвет черный #000000(лого шапка), белый #FFFFFF(лого футер, текст хэдер, адрес футер/
/* дополнительный цвет для части лого и активных элементов + наведение голубой+акцент #2196F3  */
/* цвет для футера белый полупрозрачный rgba(255, 255, 255, 0.6) */
/* фон темно-серый  #2F303A(шапка, футер)  и бело-серый #F5F4FA("наша команда")*/
